/* HTML Component Classes */
/*Page Preloader*/
#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/initializing.png) center no-repeat #fff;
    background-size: 66%;
}

#preloader .progress {
    position: absolute;
    left: 33%;
    width: 34%; 
    top: 70%;
}

/*Navigation Bar*/
#nav_bar > img {
    margin-top: 5px;
    margin-left: 20px;
}

#nav_bar > a {
    font-weight: 300;
}

/*Slide form*/
#slide_form {
    width:500px;
}

#slide_form > li > img {
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

#slide_form label[for="booking_dropoff"],[for="booking_pickup"] {
    line-height: 35px;
}

#slide_form label[for="booking_phone_number"] {
    margin-top: -35px;
}

#slide_form div a {
    max-width: 200px; 
    margin-top: 20px; 
    margin-right:10%; 
    border-style: solid; 
    border-width: thin;
}

#slide_form div a:first-child {
    max-width: 200px; 
    margin-top: 20px;
    margin-left: 10%;  
    border-style: solid; 
    border-width: thin;
}

/*Floating Booking Button*/
#floating_booking_button {
    position:absolute; 
    bottom: 5%; 
    right: 50px;
}

/*Processing Modal*/
#processing_modal {
    max-width: 400px;
}

#processing_modal p {
    font-weight: 200; 
    font-size: 28px;
}

/* HTML Helper Classes */
.brand-logo {
    height: 50px;
}

.container-booking {
    width: 90%;
    margin-left: 5%;
}

.header-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.no-overflow {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.disclaimer {
    font-size: 14px;
    margin-top: 10px;
}

.secret-map {
    height: calc(100vh - 64px);
    padding: 0px;
}

.btn-flat:hover:first-of-type {
    color:red;
}

.btn-flat:hover {
    color:green;
}

.sidenav-overlay {
    height: 0px !important;
    width: 0px !important;
}

.toast-styles {
    transform: translateX(95%);
    color: black;
    background-color: white;
}

/* JS Style Classes */
.APTA-pickup {
    font-size: 18px;
    transform: translateY(200%);
    background-color: #aed581;
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
}

.APTA-dropoff {
    font-size: 18px;
    transform: translateY(200%);
    background-color: #4dd0e1;
    border-radius: 12px;
    padding: 4px 10px 4px 10px;
}

/* Custom Scroll Bar */
.scrollbar {
  margin-left: 10px;
  float: left;
  height: 300px;
  width: 15px;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #9e9e9e;
}

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 5px;
}